<% include ./partials/header %>
<div class = "ui container">
	<h1>All My Shoes </h1>

	<% for(var i=0; i<shoesPassedIn.length;i++){ %>
		<label>Shoe <%= i+1 %> </label>
		<p>type: <%= shoesPassedIn[i].type %></p>
		<p>color: <%= shoesPassedIn[i].color %></p>
		<p>size: <%= shoesPassedIn[i].size %></p>
		<p>preferred: <%= shoesPassedIn[i].preferred %></p>
	<% } %>
	

</div>
<% include ./partials/footer %>

